/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

#nav {
    position:relative;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
    display: block;
    margin: 10px auto 20px;
    min-height: 35px;
    padding: 18px 0 0;
    text-align: center;  
}

#nav h3 {
    position:absolute;
    top:10px;
    left:30px;
}

#nav ul {
    display: block;
    font-family: adelle-1,adelle-2,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    float: right;
    max-width: 251px;
    text-align: center;
    margin: 0 10px;
}

#nav ul li {
    border-right: solid 1px #D3D3D3;
    display: block;
    float: left;
    padding: 0 25px;
}
#nav ul li.first {
    padding-left: 0;
}
#nav ul li.last {
    border-right: medium none;
    padding-right: 0;
}


.footer {
    margin-top: 10px;
}

/* #Page Styles
================================================== */
#registration button {
    display: block;
}
#registration label, #registration button { clear: both; }
#registration input {
    float:left;
}

ul.list li a {
    padding:10px;
}

ul.list li a {
    text-decoration: none;
    display: block;
}

ul.list li a:hover {
    background: #f1f1f1;
}

.tracklist_item a {
    background: #e3e3e3;
}

.tracklist_item_even a {
    background: #e8f1f1;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/